form{
    display: grid;

}
form input{
    width: 30vw;
}
button{
    margin-top: 2vh;
    width: 6vw;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw;
    border: 1px solid black;
    width: 20vw;
    height: 20vh;
}