body{
    margin: 0;
}
#cabecalho{
    display: flex;
}
h1 {
    margin: 10vh auto;
    font-size: 4vw;
}
#cabecalho:hover{
    color: white;
    background-color: black;
    border: 0.5vh solid white;
    border-bottom-color: white;
}
#menu{
    background-color: black;
    height: 4vh;
    display: flex;
    position: sticky; 
    top:0;
}
#menu a{
    margin: auto;
    text-decoration: none;
    color: white;
}
#menu a:hover{
    font-size: 1.3vw;
}
h2{
    padding: 2vh;
    width: 15vw;
    border-radius: 4%;
    margin-left: 8vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 4vh;
    background-color: rgb(75, 74, 74);
    color: rgb(160, 140, 140)
}
form{
    border: 3px solid black;
    padding: 3vh;
    margin: 1vw 8vw
}
#descricao{
    height: 10vh;
    width: 79vw;
}
#preco{
    margin-left: 45vw
}
input:hover{
    color:white;
    background-color: black;
}
button{
    padding: 0.7vh;
    background-color: white
}
button:hover{
    padding: 0.7vh;
    background-color: black;
    color: white;
}
button:active{
    border: 0.4vh solid gray;
}
.tablela{
    display: flex;
}
table{
    margin: auto;
}
th{
    color:white;
    background-color: black;
    padding: 0.5vw;
    position: sticky; 
    top: 4vh;
}
td{
    color:white;
    background-color: rgb(61, 61, 61);
    padding: 0.5vw
}
img{
    height: ;
    width: 30vw;
}
#home1{
    font-size: 3.5vw;
    margin: auto;
}
#home1::first-letter{
    color: white;
    background-color: black
}
#home2{
    font-size: 2.5vw;
    margin: auto;
    text-align: center
}
#home2:hover{
    color: white;
    background-color: black;
    border: 0.5vh solid white;
    border-bottom-color: white;
}
#bemvindo{
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
}
#rodape{
    margin-top: 16vh;
    background-color: rgb(85, 85, 85);
    display: flex;
    color:white;
}
#rodape div{
    margin: 4vh auto ;
    border-radius: 3%;
    background-color: rgb(44, 44, 44);
    padding: 2vh 4vh
}
svg {
    color: #fff;
    fill: #fff;
    height: 3vw;
    width: 3vw;
    margin-left: 1.8vw;
}
.dark-logo{
    height: 3vw;
    width: 7vw;  
}
#fornecedoras{
    display: grid;
}